<ion-view>
  <ion-header-bar class="bar-dark">
    <div class="buttons">
      <a class="button button-icon ion-arrow-left-c" ng-click="back()"></a>
    </div>
    <h1 class="title">Restaurants</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <ion-cover-item ng-repeat="restaurant in restaurants" cover="restaurant.cover" ng-click="goTo('details');">
        <h2>{{ restaurant.name }}</h2>
        <p>{{ restaurant.description }}</p>
      </ion-cover-item>
    </div>
  </ion-content>
</ion-view>